<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="tmg">

    <head>
        <meta charset="utf-8">

        <!-- TITLE OF SITE-->
        <title>Alpamys Qanybet</title>

        <!-- META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="CV, Portfolio">
        <meta name="author" content="Mr. A.Qanybet">

        <!-- FAVICON -->
        <link rel="icon" href="assets/images/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-icon-76x76.html">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-icon-114x114.png">

        <!-- ========================================
                Stylesheets
        ==========================================-->

        <!-- MATERIALIZE CORE CSS -->
        <link href="assets/css/materialize.min.css" rel="stylesheet">

        <!-- ADDITIONAL CSS -->
        <link rel="stylesheet" href="assets/css/animate.css">

        <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>

        <!--FONTAWESOME CSS-->
        <link href="assets/icons/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- CUSTOM STYLE -->
        <link href="assets/css/nav.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">

        <!-- RESPONSIVE CSS-->
        <link href="assets/css/responsive.css" rel="stylesheet">

        <!-- COLORS -->
        <link rel="alternate stylesheet" href="assets/css/colors/red.css" title="red">
        <link rel="alternate stylesheet" href="assets/css/colors/purple.css" title="purple">
        <link rel="alternate stylesheet" href="assets/css/colors/orange.css" title="orange">
        <link rel="alternate stylesheet" href="assets/css/colors/green.css" title="green">
        <link rel="stylesheet" href="assets/css/colors/lime.css" title="lime">

        <!-- STYLE SWITCH STYLESHEET ONLY FOR DEMO -->
        <link rel="stylesheet" href="assets/css/demo.css">

        <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif] -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> <![endif]-->

        <script type='text/javascript' src='assets/ng/lib/angular/angular.min.js'></script>
        <script type='text/javascript' src='assets/ng/lib/ui-router/angular-ui-router.min.0.2.18.js'></script>
        <script type='text/javascript' src='assets/ng/lib/angular/angular-cookies.min.js'></script>
        <script type='text/javascript' src='assets/ng/lib/angular/angular-sanitize.min.js'></script>

        <script type="text/javascript" src="assets/ng/lib/underscore/underscore-min.js"></script>
        <script type='text/javascript' src="assets/ng/lib/restangular/restangular.js"></script>

        <script type="text/javascript" src="assets/ng/lib/i18next/i18next-1.7.4.min.js"></script>
        <script type="text/javascript" src="assets/ng/lib/ng-i18next/ng-i18next.min.0.5.2.js"></script>

        <script type="text/javascript" src="assets/ng/scripts/app.js?nocache=asfafa"></script>

        <script type="text/javascript" src="assets/ng/scripts/services/locales.js"></script>
        <!-- <script type="text/javascript" src="assets/ng/scripts/services/api.js"></script> -->
        <!-- <script type="text/javascript" src="assets/ng/scripts/services/dictionary.js"></script> -->

        <!-- <script type="text/javascript" src="assets/ng/scripts/directives/breadcrumbs.js"></script> -->
        <!-- <script type="text/javascript" src="assets/ng/scripts/directives/menu.js"></script> -->

        <script type="text/javascript" src="assets/ng/scripts/controllers/main.js?nocache=asfafa"></script>
        <script type="text/javascript" src="assets/ng/scripts/controllers/page/home.js?nocache=asfafa"></script>
        <script type="text/javascript" src="assets/ng/scripts/controllers/page/project.js?nocache=asfafa"></script>
        <script type="text/javascript" src="assets/ng/scripts/controllers/page/blog.js?nocache=asfafa"></script>
        <script type="text/javascript" src="assets/ng/scripts/controllers/page/contact.js?nocache=asfafa"></script>
    </head>
    <body ng-controller="MainCtrl">
        <!-- Start Container-->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- SIDEBAR -->
                <!-- Start Sidebar -->
                <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
                    <!--  Sidebar row -->
                    <div class="row">
                        <!--  top section   -->
                        <div class="heading">
                            <!-- IMAGE -->
                            <div class="feature-img">
                                <a href="#/home"><img ng-src="assets/images/alp{{random}}.jpg" class="responsive-img" alt=""></a>
                            </div>
                            <!-- NAVIGATION -->
                            <div class=" nav-icon">
                                <nav>
                                    <div class="nav-wrapper">
                                        <ul id="nav-mobile" class="side-nav">
                                            <li ng-repeat="nav in navs track by $index">
                                                <a href="#/{{nav.url}}">{{nav.name | i18next}}</a>
                                            </li>
                                        </ul>
                                        <a href="#" data-activates="nav-mobile" class="button-collapse  ">
                                            <i class="mdi-navigation-menu"></i>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                            <!-- NAME AND TAGLINE -->
                            <div class="title col s12 m12 l9 right  wow fadeIn" data-wow-delay="0.1s" style="background-color: rgba(0,0,0,0.4); text-align:center; margin-right: 30px;">
                                <!-- <h3>Alpamys Qanybet</h3> -->
                                <!-- title name -->
                                <span>
                                    Alpamys Qanybet<br/>
                                    Golang, Java EE, React Native Developer<br/>
                                    {{clock | date: 'dd'}} {{ 'time.month.'+(clock | date: 'MM') | i18next}} {{ clock | date:'HH:mm:ss'}}
                                </span>
                                <!-- tagline -->
                                <!-- <span> -->
                                    <!-- {{clock | date: 'dd'}} {{ 'time.month.'+(clock | date: 'MM') | i18next}} {{ clock | date:'HH:mm:ss'}} -->
                                <!-- </span> -->
                            </div>
                        </div>
                        <!-- sidebar info -->
                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">
                                <div class="col m12 s12 l3 icon">
                                    <!-- icon -->
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s">
                                    <!-- text -->
                                    <div class="section-item-details">
                                        <p>IT specialist, leading developer</p>
                                        <p>co-founder of "Enterprise Solutions", 30 years old.</p>
                                        <p>Like Workflow, Refactoring, Design Patterns</p>
                                        <p>Highly concentrated, hard working</p>
                                        <p>Explain me what to do and I will do it with passion!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MOBILE NUMBER -->
                        <div class="col l12 m12 s12  mobile sidebar-item">
                            <div class="row">
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-phone"></i>
                                    <!-- icon -->
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s">
                                    <div class="section-item-details">
                                        <div class="personal">
                                            <h4>
                                                <a href="tel:+770122822211">+7 (701)-228-2211</a>
                                            </h4>
                                            <!-- Number -->
                                            <span>mobile, Telegram, WhatsApp</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  EMAIL -->
                        <div class="col l12 m12 s12  email sidebar-item ">
                            <div class="row">
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-envelope"></i>
                                    <!-- icon -->
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
                                    <div class="section-item-details">
                                        <div class="personal">
                                            <!--h4>
                                                <a href="mailto:programmer@mailprivat24.de">programmer@mailprivat24.de</a>
                                            </h4>
                                            <span>Germany</span-->

                                            <h4>
                                                <a href="mailto:alpamys.kanibetov@gmail.com">alpamys.kanibetov@gmail.com</a>
                                            </h4>
                                            <span>Personal</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ADDRESS  -->
                        <!--div class="col l12 m12 s12  address sidebar-item ">
                            <div class="row">
                                <div class="col l3 m12  s12 icon">
                                    <i class="fa fa-home"></i>

                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s">
                                    <div class="section-item-details">
                                        <div class="address-details">

                                            <h4>24 Golden Tower
                                                <span>(2nd floor)</span><br>
                                                Amborkhana, Sylhet.<br>
                                                <span>SYL-3RF87W</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->

                        <!-- SKYPE  -->
                        <div class="col l12 m12 s12  address sidebar-item ">
                            <div class="row">
                                <div class="col l3 m12  s12 icon">
                                    <i class="fa fa-skype"></i>
                                </div>
                                <div class="col m12 s12 l9 info wow fadeIn a4" data-wow-delay="0.4s">
                                    <div class="section-item-details">
                                        <div class="address-details">
                                            <h4>alpamys.kanibetov</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                        <!-- SKILLS -->
                        <div class="col l12 m12 s12  skills sidebar-item">
                            <div class="row">
                                <div class="col m12 l3 s12 icon">
                                    <i class="fa fa-calendar-o"></i>
                                    <!-- icon -->
                                </div>
                                <!-- Skills -->
                                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                                    <h3>Professional Skills
                                    </h3>

                                    <div ng-repeat="skill in skills">
                                        <span>{{skill.name}}</span>
                                        <div class="progress">
                                            <div class="determinate">{{skill.progress}}%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </aside>
                <!-- end sidebar -->

                <!-- =========================================
                   Work experiences
                ==========================================-->

                <section class="col s12 m12 l8 section" ui-view>
                </section>
                <!-- end section -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->

        <!--=====================
                JavaScript
        ===================== -->
        <!-- Jquery core js-->
        <script src="assets/js/jquery.min.js"></script>

        <!-- materialize js-->
        <script src="assets/js/materialize.min.js"></script>

        <!-- wow js-->
        <script src="assets/js/wow.min.js"></script>

        <!-- Map api -->
        <!-- <script src="http://maps.googleapis.com/maps/api/js?v=3.exp"></script> -->
        <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"></script>


        <!-- Masonry js-->
        <script src="assets/js/masonry.pkgd.js"></script>
        <script src="assets/js/validator.min.js"></script>
        <script src="assets/js/jquery.mixitup.min.js"></script>

        <!-- Customized js -->
        <script src="assets/js/init.js"></script>
    </body>
</html>
