<div class="row">
    <div class="section-wrapper z-depth-1">
        <div class="section-icon col s12 m12 l2">
            <i class="fa fa-suitcase"></i>
        </div>
        <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
            <h2>Work Experience</h2>

            <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                <h3>CEO and Developer, Enterprise Solutions LLC.</h3>
                <span>
                    JAN 2014 - Present
                </span>
                <p>
                    Partially made Geo-Mobile application <a href="https://play.google.com/store/apps/details?id=com.forasoft.iastana&hl=en-US" target="_blank"><span>iAstana</span></a>, precisely the backend API and data.<br/>
                    UIS University Management System Application<br/>
                    QTrack Customizable Electronic Queue<br/>
                    InfoKiosk for organization<br/>
                    Some websites, <br/> inclusively <a href="http://essc.kz" target="_blank"><span>Enterprise Solutions</span></a>, the design of ESSC Company Logo and card<br/>
                    Used: Java EE, JBoss, GlassFish, JAX-RS, HTML, CSS, Twitter Bootstrap, Angular JS 1.x, CoffeeScript,
                    HornetQ, JMS, JavaMail, Audio Play Threading, WebSocket, Java Websocket, Git, Maven,
                    PHP, CodeIgniter, PhotoShop, Restangular, oAuth2.0, Java Android, Rooting Android Tablet, Make Tablet and Kiosk-Terminal Automative.
                </p>
            </div>

            <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                <h3>Java and Angular Developer, Kazdream LLC.</h3>
                <span>
                    AUG 2015 - FEB 2016, 8 months
                </span>
                <p>
                    Java EE developer, AngularJS front-end developer<br/>
                    Project is confidential <br/>
                    Used: Java EE, Spring, Apache Tomcat, Angular JS 1.x, CoffeeScript, Git, Maven
                </p>
            </div>

            <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                <h3>Java and Angular Developer, InesSoft LLC.</h3>
                <span>
                    OCT 2014 - MAR 2015, 6 months
                </span>
                <p>
                    Java EE developer, AngularJS front-end developer<br/>
                    eGov (Kazakhstan electronic government) <br/>
                    - government services realization UI. <br/>
                    - government services realization backend.<br/>
                    - integration with subcontractor.<br/>
                    Used: Java EE, Apache Tomcat, Jenkins, Angular JS 1.x, JIRA, Git, Maven, SOAP-UI, JAX-WS
                </p>
            </div>

            <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                <h3>Java Developer, BeeSoftware LLC.</h3>
                <span>
                    AUG 2012 - SEP 2014, 2 years 1 months
                </span>
                <p>
                    Involved in development of Information System "E-Learning"<br/>
                    (Kazakhstan electronic school application).<br/>
                    Developed logical CDN in isoloted network among schools across republic by most popular visited content of school inside application.<br/>
                    Used: Java EE, JSF, RichFaces, jBPM, JBoss, Seam Framework, <br/>
                    Qpidd, Linux Bash, PostgreSQL, Twitter Bootstrap, Angular JS 1.x, Ember, <br/>
                    Play Framework, JIRA, Scrum, Git, Maven, Gradle, bower, grunt, SOAP-UI, JAX-WS, JAX-RS, Restangular
                </p>
            </div>

            <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                <h3>Student Practice, BeeSoftware LLC.</h3>
                <span>
                    JUN - AUG 2012, 2 months
                </span>
                <p>
                    Information System "ЦОН"<br/>
                    (Kazakhstan electronic government documental administrative service center application).<br/>
                    Used: Java EE, JSF, RichFaces, JBoss, DRools.
                </p>
            </div>

            <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
                <h3>Student Practice, SDU Summer Program for gifted students enabling to hire a job being student.</h3>
                <span>
                    MAY - JUN 2012, 2 weeks
                </span>
                <p>
                    Simple working JavaEE application CMSAAS (Content Management System As Application Service) in 2 days.<br/>
                    Used: Java EE, JSP, JSF, JSTL, Apache Tomcat.
                </p>
            </div>
            <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                <h3>Student Practice in TochkaKZ LLC as final project for Software Engineering Subject</h3>
                <span>
                    OCT - DEC 2011, 3 months
                </span>
                <p>
                    Web-developer<br/>
                    Task management system (build from scratch, teamwork with Rishat Babyshev).<br/>
                    Used: HTML, CSS(CSS3), JavaScript, AJAX, jQuery, PHP, Codeigniter, MySQL(phpMyAdmin).<br/>
                    Both practice products still work as full responsible application.
                </p>
            </div>
            <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                <h3>Student Practice in Kazakhmys LLC</h3>
                <span>
                    JUL - AUG 2011, 2 months
                </span>
                <p>
                    Java - developer, Web developer.<br/>
                    Build an application from scratch<br/>
                    Tennis Tournament desktop application with web-page of statistics and history.<br/>
                    Used: JavaSE(javax.swing, JDBC).<br/>
                    MSSQL(MSSQL Server 2005).<br/>
                    HTML, CSS, JavaScript. ASP.NET, C#, VisualStudio, ODBC.
                </p>
            </div>
        </div>
    </div>

    <!-- Education -->
    <div class="section-wrapper z-depth-1">
        <div class="section-icon col s12 m12 l2">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
            <h2>
                Education
            </h2>

            <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
                <h3>
                    Suleyman Demirel University, Almaty
                </h3>
                <span>
                    2009 - 2013
                </span>
                <p>
                    Information Systems Bachelor Degree, GPA 3.5.<br/>
                    All techical subjects with A,B marks<br/>
                    3rd place in Republic in team programming competition among universities.
                </p>
            </div>
            <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                <h3>
                    Kazakh-Turkish High School for Gifted Students, Jeskasgan
                </h3>
                <span>
                    2004 - 2009
                </span>
                <p>
                    Graduated school with Golden Medal (All subjects with High Marks)<br/><br/>
                    Won School, City, District Olympiads in Mathematics and Physics again and again.<br/>
                    1st twice in Qaraqandy(Karaganda) District,<br/>
                    3rd place in Republic in Physics.<br/>
                    City and School too many to count<br/><br/>
                    Speak in Kazakh, English, Turkish and Russian languages.
                </p>
            </div>
        </div>
    </div>

    <!--div class="section-wrapper z-depth-1">
        <div class="section-icon col s12 m12 l2">
            <i class="fa fa-plane"></i>
        </div>
        <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s">
            <h2>Interestes
            </h2>
            <ul>
                <li>
                    <i class="fa fa-camera-retro tooltipped" data-position="top" data-delay="50" data-tooltip="Photography"></i>
                </li>
                <li>
                    <i class="fa fa-glass tooltipped" data-position="top" data-delay="50" data-tooltip="Drinking"></i>
                </li>
                <li>
                    <i class="fa fa-headphones tooltipped" data-position="top" data-delay="50" data-tooltip="Music"></i>
                </li>
                <li>
                    <i class="fa fa-comments tooltipped" data-position="top" data-delay="50" data-tooltip="Chatting"></i>
                </li>
                <li>
                    <i class="fa fa-coffee tooltipped" data-position="top" data-delay="50" data-tooltip="Coffee"></i>
                </li>
            </ul>
        </div>
    </div-->

    <!--div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">
        <div class="col s12 m12 l10 website right">
            <div class="row">
                <div class="col s12 m12 l6">
                    <span>
                        <a href="#">www.alrayhan.com</a>
                    </span>
                </div>
                <div class="col col s12 m12 l6">
                    <span>
                        <a href="#">www.dribble.com/rtralrayhan</a>
                    </span>
                </div>
            </div>
        </div>
    </div-->
</div>
<!-- end row -->
